<header>
  <h1>Clock App</h1>
  <nav>
    <ul>
      <li><a href="">Digital Clock</a></li>
      <li><a href="">Stopwatch</a></li>
      <li><a href="">Timer</a></li>
      <li><a href="">World Clock</a></li>
    </ul>
  </nav>
</header>