<header>
  <h1>Clock App</h1>
  <nav>
    <ul>
      <li><a href="/">Digital Clock</a></li>
      <li><a href="/stopwatch">Stopwatch</a></li>
      <li><a href="/timer">Timer</a></li>
      <li><a href="/worldclock">World Clock</a></li>
    </ul>
  </nav>
</header>