<header>
  <a href="/"><h1>Clock App</h1></a>
  <nav>
    <ul>
      <a class="nav-links" href="/"><li>Digital Clock</li></a>
      <a class="nav-links" href="/stopwatch"><li>Stopwatch</li></a>
      <a class="nav-links" href="/timersetup"><li>Timer</li></a>
      <a class="nav-links" href="/worldclock"><li>World Clock</li></a>
    </ul>
  </nav>
</header>