<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <script src="digitalclock.js" defer></script>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <span class="time"></span>
    <span class="date"></span>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>