<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <span class="time"></span>
    <span class="date"></span>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>