<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <span class="time">00:00:00</span>
    <span class="date">Sunday | 26th March 2023</span>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>