<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<script src="timersetup.js" type="module" defer></script>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="timer-container">
    <div id="hour" class="time-container-without-hyphen">
      <span id="hourOutput" class="time-integer">00</span>
      <button class="up">⇑</button>
      <button class="down">⇓</button>
      <span class="time-info">Hours</span>
    </div>
    <div id="min" class="time-container-without-hyphen">
      <span id="minOutput" class="time-integer">00</span>
      <button class="up">⇑</button>
      <button class="down">⇓</button>
      <span class="time-info">Minutes</span>
    </div>
    <div id="sec" class="time-container-without-hyphen">
      <span id="secOutput" class="time-integer">00</span>
      <button class="up">⇑</button>
      <button class="down">⇓</button>
      <span class="time-info">Seconds</span>
    </div>
    <div id="start" class="start-btn-container">
      <a id="link" href="/timer"><button class="start">Start</button></a>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>