<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<script src="timer.js" defer></script>
<body>
  <%- include('./partials/nav.ejs') %>
  
  <%- include('./partials/footer.ejs') %>
</body>
</html>