<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <script src="worldclock.js" type="module" defer></script>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  
  <div class="worldclock-container">
    <div class="search-container">
      <input class="input" type="text" placeholder="Search">
      <button class="search-btn">🔍</button>
    </div>
    <h1 class="timezone-title"></h1>
    <span class="timezone-output"></span>
    <span class="time-difference"></span>
    <span class="weather"></span>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>