/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(rgb(252, 160, 117),rgb(234, 143, 148));
}

/* Nav styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px 10px;
  box-shadow: 0 5px 5px -5px rgb(0,0,0,0.1);
  position: fixed;
  top: 0;
  min-width: 100%;
  white-space:nowrap;
}
/* 
.nav-title {
  padding:0.5rem;
} */

li, a {
  text-decoration: transparent;
  list-style: none;
  display: inline-block;
  margin: 0px 10px 0px;
  font-size: 1.2rem;
  padding: 10px;
  color: #ffffff;
}

 .nav-links:hover {
  color: rgb(252, 255, 255,0.5);
  background-color: rgb(252, 255, 255,0.1);
  border-radius: 2rem;
}

/* Footer */
footer {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 50px;
  bottom: 0px;
}

/* Digital Clock */
.container {
  display: grid;
  justify-content: flex-end; 
  align-items: end;
}

.time {
  font-size: 15rem;
}

.date {
  display: flex;
  font-size: 2.5rem;
  justify-content: end;
}

/* Stopwatch */
.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  width: 10rem;
  height: 4rem;
  max-width: 10rem;
  max-height: 4rem;
  /* padding: 2rem 4rem; */
  border-radius: 5rem;
  border-color: #ffffff;
  border-style:solid;
  background:none;
  font-size: 1.5rem;
  color: #ffffff;
  display: inline-block;
}
.btn:hover {
  background-color: rgb(255, 255, 255,0.1);
}

/* Timer */
.timer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: auto auto; */
  /* justify-content: center;
  align-items: center; */

}

.time-info-container {
  grid-column: span 3;
  display: flex;
  justify-content: space-evenly;
} 

.time-container-without-hyphen {
  display: grid;
  grid-template-columns: auto auto;
}

.time-integer {
  grid-row: span 2;
  font-size: 15rem;
}

.time-info {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.start-btn-container {
  padding: 1rem;
  grid-column: span 3;
  display: flex;
  justify-content: center;
}

.start {
  border-radius: 5rem;
  border-color: #ffffff;
  border-style:solid;
  background:transparent;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 1rem 5rem 1rem;
  width:60rem;
  max-width:60rem;
}

.up, .down{
  font-size: 5rem;
  background-color: transparent;
  border-color: #ffffff;
  border-style: solid;
  color:#ffffff;
  padding: 0.5rem;
}

.up:hover, .down:hover, .start:hover{
  background-color: rgb(255, 255, 255,0.1);
}

.up {
  border-bottom: none;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

.down {
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

/* Worldclock */
.worldclock-container {
  /* background-color: rgb(255, 255, 255,0.3); */
  border-radius: 1rem;
  padding: 3rem;
  display: grid;
  grid-template-columns: auto auto;
}

.search-container {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin:0 2rem;
  padding-bottom: 1rem;
}

.timezone {
  grid-column: span 2;
  font-size: 4rem;
}

.timezone-output {
  grid-column: span 2;
  font-size: 15rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.weather {
  font-size: 2.5rem;
  display: flex;
  justify-content:flex-end;
  padding-right: 2rem;
}

.time-difference {
  font-size: 2.5rem;
  display: flex;
  justify-content:flex-start;
  padding-left: 2rem;
  /* width: fit-content; */
}

.search-btn {
  border-radius: 100%;
  padding: 1rem;
  margin: 0;
  /* width: fit-content; */
  border: #ffffff;
  border-style: solid;
  background-color: transparent;
  font-size: 1rem;
}

.search-btn:hover {
  background-color: rgb(255, 255, 255,0.1);
}

.input {
  width: 22em;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 2rem;
  border: #ffffff;
  border-style: solid;
  background-color: transparent;
  color: #ffffff;
}

::placeholder {
  color: rgb(255, 255, 255,0.6);
  font-family: 'Times New Roman', Times, serif;
}

.input:focus {
  outline: none;
}